.postBlock {
    color: red;
    margin-top: 15px;
}

.postBlock img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.btn {
    cursor: pointer;
    width: 30px;
    border-radius: 20px;
    font-family: Arial;
    color: black;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 5px 5px 5px;

}

.btn:hover {
    color: #ffffff;
    background: #fc0000;
}

.btn:active {
    transform: translateY(2px);
}