.commonBlockUsers {
    background-color: #d5f5ed;
    border-radius: 15px;
    padding: 10px;
}

.userBlock {
    font-weight: bold;
    max-width: 150px;
}

.userBlockItem {
    text-align: center;
    padding: 10px;
}

.avatarBlock img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.pageBlock {
    cursor: pointer;
}

.selectedPageBlock {
    font-weight: bold;
}
