.userBlock {
    padding-left: 15px;
}

.avatarBlock img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.pageBlock {
    cursor: pointer;
}

.selectedPageBlock {
    font-weight: bold;
}
