.headerBlock {
    grid-area: h;
    background-color: #f2780c;
    border-radius: 10px;
}


.headerBlock img {
    height: 50px;
}

.loginBlock {
    float: right;
    color: white;
    border-bottom: white 1px solid;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

.loginBlock:active {
    transform: translateY(2px);
}