.headerBlock {
    grid-area: h;
    background-color: #f2780c;
    border-radius: 10px;
}

.headerBlock img {
    /*width: 100px;*/
    height: 50px;
}

.loginBlock {
    float: right;
    color: white;
}
