.navBlock {
    grid-area: n;
    background-color: #06c7aa;
    padding: 20px;
    border-radius: 10px;
}

.navLinkBlock a {
    color: white;
    text-decoration: none;
}

.navLinkBlock a.activeLinkBlock {
    color: black;
}
