.navBlock {
    grid-area: n;
    background-color: #06c7aa;
    padding: 10px;
    border-radius: 15px;
}

.navLinkBlock a {
    color: white;
    text-decoration: none;
}

.navLinkBlock a.activeLinkBlock {
    color: black;
    font-weight: bold;
}
