.commonProfile {
    display: grid;
    grid-row-gap: 15px;
}

.profileInfoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.logoBlock img {
    height: 150px;
    width: 100%;
    border-radius: 15px;
    /*margin-bottom: 15px;*/
}

.avaBlock img {
    width: 250px;
    height: 250px;
}

.faceBlock {
    background-color: #d5f5ed;
    border-radius: 15px;
    padding: 10px;
}

.aboutUserBlock {
    background-color: #d5f5ed;
    border-radius: 15px;
    padding: 10px;
}
