.profileInfoBlock {
    padding: 10px;
}

.logoBlock img {
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.avaBlock img {
    width: 250px;
    height: 250px;
}

.statusBlock {

}