.profileInfoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.logoBlock img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.avaBlock img {
    width: 250px;
    height: 250px;
}

.statusBlock {
    margin-left: 10px;
}

.aboutUserBlock {

}

.faceBlock {

}